.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  /* justify-items: center;
  align-items: center; */
  /* border: 1px solid blue; */
}
